@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../variable";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html{
  height: 100%;
}

body{
  height: 100%;
  min-height: 100%;
  @include rfs(18px);
  background-color: $color-white;
}
