@import "../../variable";
@import "../../../../node_modules/rfs/sass";
.splash-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  @include rfs(3.5rem);
  font-weight: normal;
}

.pole{
  background-color: $color-blue;
  width: 50px;
  height: 300px;
  transform-origin: center;
}