@import "../../../../node_modules/rfs/scss";
.social{
  @include rfs(30px);
  //background-color: white;
  color: white;
  transition: all 1s;
  padding: 0.25rem 0.85rem;
  &:hover{
    background-color: white;
    color: black;
    border-radius: .75rem;
  }
}

.item{
  width: fit-content !important;
}